


/* Ubicación: Pantalla > Pantalla Celular > */



/* Estilos generales para el body */
/* Estilos generales para el body */
body {
    align-items: center;
    background-color: #ebecf0;
    color: gray;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    justify-content: center;
    line-height: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: env(safe-area-inset-bottom); /* Asegura que no se solape con la barra de navegación */
    transform: translateY(-.5vh); /* Ajuste fino para evitar desplazamientos */
}

/* Ajustes para pantallas de dispositivos móviles */
@media (max-width: 768px) {
    body {
        height: 100vh; /* Utiliza 100vh para asegurar que el body ocupe toda la altura del viewport */
        padding-bottom: env(safe-area-inset-bottom); /* Agrega espacio adicional si hay una barra flotante */
    }
}

/* Asegura que el viewport se ajuste correctamente */
@viewport {
    width: device-width;
    zoom: 1;
}

/* Estilos para las imágenes */
img {
    height: 1.87vh;
    width: auto;
}

/* Contenedor para la pantalla celular */
.contenedor-pantalla-celular {
    background-color: #ebecf0;
    background-size: cover;
    border-radius: 2.5vh;
    box-shadow:
        1.5vh 1.5vh 1.5vh rgba(0, 0, 0, 0.5),
        -2vh -2vh 2vh rgba(255, 255, 255, 0.2),
        inset -.5vh -.5vh .5vh rgba(0, 0, 0, 0.5),
        inset 1.9vh 1.9vh 1.9vh rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    display: flex;
    height: 80vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: calc(80vh * 9 / 16); /* Proporción de aspecto 16:9 */
}

/* Ubicación: Pantalla > Pantalla Celular > Primer Contenedor > */



.contenedor-pantalla-celular .primer-contenedor {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 3vh;
    position: absolute;
    overflow: hidden;
    width: 100%;

    /* border: .1vh solid #930000; */
    /****************************************************************/
}



.contenedor-pantalla-celular .primer-contenedor .primer-subcontenedor {
    align-items: center;
    display: flex;
    gap: 1.5vh;
    margin-right: 0;
}

.contenedor-pantalla-celular .primer-contenedor .segundo-subcontenedor {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.contenedor-pantalla-celular .primer-contenedor .segundo-subcontenedor .camara {
    background-color: #ebecf0;
    box-shadow: inset 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                inset -0.28vh -0.28vh 1vh white;
    border-radius: 50%; 
    margin-right: 1.5vh;
    height: 1.5vh; 
    width: 1.5vh;
}

.contenedor-pantalla-celular .primer-contenedor .segundo-subcontenedor .luz {
    background-color: #ebecf0;
    box-shadow: inset 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                inset -0.28vh -0.28vh 1vh white;
    border-radius: 5vh;
    height: 1.5vh;
    width: 6.95vh;
}



.contenedor-pantalla-celular .primer-contenedor .tercer-subcontenedor {
    align-items: center;
    display: flex;
    gap: 1.5vh;
}

.contenedor-pantalla-celular .primer-contenedor .tercer-subcontenedor img {
    height: 1.87vh;
    width: 1.87vh;
}



/* Ubicación: Celular > Pantalla > Tercer Contenedor > */



.contenedor-pantalla-celular .tercer-contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 3vh;
    
    background-color: transparent;
    /* border: .1vh solid #930000; */
    /****************************************************************/
}

.contenedor-pantalla-celular .tercer-contenedor .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
}

/* Estilo de la imagen */
.contenedor-pantalla-celular .tercer-contenedor .icon-button img {
    width: auto;
    height: 1.87vh;
    transition: transform 0.3s;
}

/* Efecto al pasar el mouse sobre el ícono */
.contenedor-pantalla-celular .tercer-contenedor .icon-button:hover img {
    transform: scale(1.1);
}

/* Línea debajo del ícono activo, pegada al fondo del contenedor */
.contenedor-pantalla-celular .tercer-contenedor .icon-button.active::after {
    content: '';
    position: absolute;
    bottom: -3vh;
    width: 5vh; /* La línea cubre todo el ancho del botón */
    height: .5vh; /* Establece el grosor de la línea */
    background-color: #930000; /* Color de la línea */
    border-radius: 1vh;
}




/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */

.contenedor-pantalla-celular .segundo-contenedor {
    bottom: 7.9vh;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 0vh 6vh;
    position: absolute;
    top: 7.9vh;
    width: 100%;
    /* border: 0.1vh solid #930000;*/
}

.contenedor-pantalla-celular .segundo-contenedor::-webkit-scrollbar {
    display: none;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > Primer Subcontenedor > */



.contenedor-pantalla-celular .segundo-contenedor .primer-subcontenedor {
    display: flex;
    justify-content: space-between;
}

.contenedor-pantalla-celular .segundo-contenedor .primer-subcontenedor p {
    margin: 0;
    line-height: normal;
}

.contenedor-pantalla-celular .segundo-contenedor .primer-subcontenedor .icono-notificacion {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.contenedor-pantalla-celular .segundo-contenedor .primer-subcontenedor .icono-notificacion img {
    height: 2.4vh;
    width: auto;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > Segundo Subcontenedor > */



.contenedor-pantalla-celular .segundo-contenedor .segundo-subcontenedor {
    margin: 11.14vh 0 3vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor .segundo-subcontenedor .titulo {
    font-size: 3.97vh;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 3vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor .segundo-subcontenedor .titulo:last-child {
    margin-bottom: 0;
}

.contenedor-pantalla-celular .segundo-contenedor .segundo-subcontenedor .titulo .texto-resaltado {
    color: #930000;
    font-weight: 400; 
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > Tercer Subcontenedor > */

/* * * */



.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 6vh 0 6vh 0;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .primer-subsubcontenedor {
    align-items: center;
    background-color: white;
    border-radius: 6.95vh;
    box-shadow: inset 0.28vh 0.28vh 1.11vh rgba(13, 39, 80, 0.36), 
                inset -0.28vh -0.28vh 1.11vh rgba(255, 255, 255, 0.64);
    display: flex;
    flex-grow: 1;
    padding: 1.5vh 3vh 1.5vh 3vh;
    position: relative;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .primer-subsubcontenedor .icono-de-lupa {
    filter: grayscale(100%) !important;
    height: 1.87vh; width: 1.87vh;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .primer-subsubcontenedor .campo-de-busqueda {
    background-color: transparent;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    margin-left: 2.22vh;
    padding: 0;
    outline: none;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .primer-subsubcontenedor .campo-de-busqueda::placeholder {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .primer-subsubcontenedor .icono-tres-puntos {
    margin-left: auto;
    width: 1.87vh;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .segundo-subsubcontenedor {
    align-items: center;
    border-radius: 100%;
    box-shadow: 0.28vh 0.28vh 1.11vh rgba(13, 39, 80, 0.36), 
                -0.28vh -0.28vh 1.11vh rgba(255, 255, 255, 0.64);
    display: flex;
    justify-content: center;
    margin-left: 1.5vh;
    padding: 1.74vh;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .segundo-subsubcontenedor .icono-de-microfono {
    align-items: center;
    background: none;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0;
}

.contenedor-pantalla-celular .segundo-contenedor .tercer-subcontenedor .segundo-subsubcontenedor .icono-de-microfono img {
    width: 1.87vh;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.resultados-busqueda {
    backdrop-filter: blur(.5vh);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 1.5vh;
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 3vh;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

.resultado-item {
    border-radius: 1.5vh;
    box-sizing: border-box;
    cursor: pointer;
    padding: 1.5vh 4vh;
}

.resultado-item:not(:last-child) {
    margin-bottom: 3vh;
}

.resultado-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 6.1vh rgba(0, 0, 0, 0.2);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > Cuarto Subcontenedor > */



.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor #informacion-palabras {
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido {
    aspect-ratio: 2 / 1;
    border-radius: 1.5vh;
    box-shadow: 0.28vh 0.28vh 1.11vh rgba(13, 39, 80, 0.36), 
                -0.28vh -0.28vh 1.11vh rgba(255, 255, 255, 0.64);
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 0 1vh 1vh 1vh;
    margin-bottom: 3vh;
    overflow: hidden;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-izquierdo {
    border-right: .1vh solid #930000;
    height: auto;
    line-height: 1;
    margin: 3vh 0px 3vh 3vh;
    padding-right: 1.5vh;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-izquierdo .texto {
    top: 0;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho {
    height: auto;
    margin: 3vh 3vh 3vh 1.5vh;
    overflow: hidden;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .palabra {
    font-size: 3.97vh;
    line-height: 1;
    margin: 0 0 1.5vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .categoria {
    color: #930000;
    line-height: 1;
    margin: 0 0 1.5vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .descripcion {
    display: block;
    font-weight: 400;
    line-height: 1;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    white-space: nowrap;

    background-color: transparent;
    
    position: relative;
    -webkit-mask-image: linear-gradient(to right, black, black 90%, transparent);
    mask-image: linear-gradient(to right, black, black 90%, transparent);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .descripcion::-webkit-scrollbar {
    display: none;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .descripcion::-webkit-scrollbar {
    display: none;
}

.contenedor-pantalla-celular .segundo-contenedor .cuarto-subcontenedor .contenido .contenido-derecho .fecha-ingreso {
    bottom: 0;
    height: 100%;
    line-height: 1;
    margin-bottom: 0;
    margin-top: auto;
    text-align: right;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * */

.contenedor-de-menu-de-paginacion {
    align-items: center;
    border-radius: 6.95vh;
    display: flex; 
    gap: 1.5vh;
    justify-content: center; 
    padding: 0px 1.5vh;
    width: fit-content;
    margin-bottom: 6vh;
}

.contenedor-de-menu-de-paginacion img {
    height: 1.87vh;   
    width: auto;
}

.contenedor-de-menu-de-paginacion button {
    aspect-ratio: 1;
    background-color: #f0f0f0;
    border: none;
    border-radius: 25%;
    box-shadow: inset 0.28vh 0.28vh 1.11vh rgba(13, 39, 80, 0.36), 
                inset -0.28vh -0.28vh 1.11vh rgba(255, 255, 255, 0.64);
    color: grey;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    height: 5vh;
    width: auto;
}

.contenedor-de-menu-de-paginacion button.active {
    background-color: rgb(40, 40, 40);
    box-shadow: 
        inset -0.28vh -0.28vh 1.11vh rgba(13, 39, 80, 1), 
        inset 0.28vh 0.28vh 1.11vh rgba(255, 255, 255, 0.5),
        0.28vh 0.28vh 1.11vh rgba(0, 0, 0, 0.6), 
        -0.28vh -0.28vh 1.11vh rgba(255, 255, 255, 0.3); 
    color: gray;
}



/***************************************************************
 *                    Estilo para el título                    *
 *                         "Paginado"                          *
 *                                                             *
 ***************************************************************/



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-2 {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 9.5vh 3vh;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras {
    padding: 3vh;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras h1 {
    font-size: 3.97vh;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 6vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras h1 .texto-resaltado {
    color: #930000;
    font-weight: 400;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras .campo-formulario-palabras {
    display: flex;
    margin-bottom: 3vh;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras .campo-formulario-palabras input {
    align-items: center;
    background-color: #ebecf0;
    border: none;
    border-radius: 6.95vh;
    box-shadow: inset 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                inset -0.28vh -0.28vh 1vh white;
    color: #778198;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    flex-grow: 1;
    padding: 1.5vh 3vh;
    position: relative;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras .campo-formulario-palabras input:focus {
    outline: none;
}

.contenedor-pantalla-celular .segundo-contenedor-2 .formulario-agregar-palabras .boton-enviar-palabras {
    align-items: center;
    background-color: #ebecf0;
    border: none;
    border-radius: 6.95vh;
    box-shadow: 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                -0.28vh -0.28vh 1vh white;
    color: #778198;
    cursor: pointer;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    justify-content: center;
    margin-top: 2vh;
    padding: 1.5vh 3vh;
    text-align: center;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100%;
}



/***************************************************************
 *                    Estilo para el título                    *
 *                         "Paginado"                          *
 *                                                             *
 ***************************************************************/



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-3 {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    padding: 7.8vh 3vh 0 3vh;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor-3::-webkit-scrollbar {
    display: none;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos {
    overflow: hidden;
    padding: 3vh;
    text-align: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 58vh;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos h1 {
    font-size: 3.97vh;
    font-weight: 400;
    line-height: .7;
    margin: 1.5vh 0 6vh 0;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos h1 .texto-resaltado {
    color: #930000;
    font-weight: 400;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos p {
    color: #778198;
    font-size: 1.74vh;
    line-height: 1.5;
    margin-bottom: 3vh;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios {
    margin-bottom: 3vh;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios input {
    background-color: #ebecf0;
    border: none;
    border-radius: 6.95vh;
    box-shadow: inset 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                inset -0.28vh -0.28vh 1vh white;
    box-sizing: border-box;
    color: #778198;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    padding: 1.5vh 3vh;
    width: 100%;
}


.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios input:focus {
    outline: none;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios .estrellas {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .campo-formulario-comentarios .estrellas .estrella {
    color: #ddd;
    font-size: 2.5vh;
    line-height: 1;
    transition: color 0.3s ease;
    width: auto;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .botones-comentarios {
    display: flex;
    gap: 2vh;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .botones-comentarios .boton-enviar-comentarios,
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .botones-comentarios .boton-eliminar-comentarios {
    align-items: center;
    background-color: #ebecf0;
    border: none;
    border-radius: 6.95vh;
    box-shadow: 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25), 
                -0.28vh -0.28vh 1vh white;
    color: #778198;
    cursor: pointer;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    justify-content: center;
    padding: 1.5vh 3vh;
    text-align: center;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .botones-comentarios .boton-enviar-comentarios:hover,
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .botones-comentarios .boton-eliminar-comentarios:hover {
    background-color: #d1d5db;
    box-shadow: 0.28vh 0.28vh 1.5vh rgb(0, 0, 0, .35), 
                -0.28vh -0.28vh 1.5vh white;
}



/* Ubicación: Pantalla > Pantalla Celular > Segundo Contenedor > */



.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .lista-comentarios {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 1.5vh 0 0 0;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .lista-comentarios li {
    border-radius: 1vh;
    box-shadow: 0.28vh 0.28vh 1.5vh rgb(0, 0, 0, .35), 
                -0.28vh -0.28vh 1.5vh white;
    color: #778198;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    line-height: 1.5;
    position: relative;
    width: 100%;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .lista-comentarios li:not(:last-child) {
    margin-bottom: 3vh;
}








/* Contenedor para el ícono, nombre y menú de tres puntos */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vh;
    padding: 3vh 3vh 1.5vh 3vh;
    position: relative;
}

/* Estilo para el ícono de la silueta de la persona */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .icono-persona {
    height: 1.87vh;
}

/* Estilo para el nombre de la persona */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .comentario-nombre {
    font-size: 1.74vh;
    flex-grow: 1;
    text-align: left;
}

/* Estilo para el icono de los tres puntos */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .icono-tres-puntos {
    font-size: 2vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Efecto hover para los tres puntos */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .icono-tres-puntos:hover {
    color: #e60000;
}



/* Estilo para el menú desplegable */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .menu-desplegable {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 3vh;
    z-index: 10;
}

/* Estilo para los botones del menú desplegable */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .menu-desplegable button {
    background-color: #ebecf0;
    border: none;
    border-radius: 6.95vh;
    box-shadow: 0.28vh 0.28vh 1vh rgb(0, 0, 0, .25),
                -0.28vh -0.28vh 1vh white;
    color: gray;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    padding: 1.5vh 1vh;
    text-align: center;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    margin-bottom: 3vh;
    width: 100%;
}
/* Estilo para el último botón sin margen inferior */
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-header .menu-desplegable button:last-child {
    margin-bottom: 0;
}






/* DISEÑO DE LAS ESTRELLAS JUNTO A LA FECHA DE CADA PERSONA EN LOS COMENTARIOS */

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .estrellas-y-fecha {
    display: flex;
    justify-content: left;
    padding: 1.5vh 3vh;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .estrellas {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .estrellas .estrella {
    color: #ddd;
    font-size: 2.5vh;
    line-height: 0;
    transition: color 0.3s ease;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .estrellas .estrella:hover,
.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .estrellas .estrella.seleccionada {
    color: #930000;
    font-size: 2.5vh;
    line-height: 0;
    padding: 0;
    width: auto;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .fecha-comentario {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.74vh;
    line-height: 1;
    margin-left: 1.5vh;
    width: auto;
}

/* DISEÑO DEL COMENTARIO DE CADA PERSONA */

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .comentario-texto {
    color: gray;
    font-size: 1.74vh;
    line-height: 1.5;
    padding: 1.5vh 3vh;
    text-align: left;
}

/* DISEÑO DE LOS 4 ÍCONOS DE LOS COMENTARIOS DE CADA PERSONA */

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .iconos-comentario {
    display: flex;
    justify-content: space-evenly;
    padding: 1.5vh 3vh 3vh 3vh;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .iconos-comentario img {
    cursor: pointer;
    height: 1.87vh;
    transition: transform 0.3s ease;
}

.contenedor-pantalla-celular .segundo-contenedor-3 .formulario-derechos .iconos-comentario img:hover {
    transform: scale(1.1);
}